<div class="row">
  <div class="col-md-12">
    <h3 class="text-center">EDUCATION AND WORK</h3><br/>
  </div>
  <table class="table table-vertical-align-middle col-md-10 offset-md-1">
    <% @data["work_schedule"].each do |info| %>
      <tr>
        <th>
          <div class="edu-year">
            <%= info["start_date"] %>
            <hr>
            <%= info["end_date"] %>
          </div>
        </th>
        <td><%= info["desc"] %></td>
        <td>
          <% if info['place'] == "BunbuSoft" %>
            <span style="font-size: 20px;"><%= info['place'] %></span>
          <% else %>
            <img src="<%= info['logo'] %>" class="certification_logo" />
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
