<div id="app" class="container">
  <%= render "basic" %>
  <%= render "education_work" %>
  <%= render "project" %>
  <%= render "skills" %>
  <%= render "knowledge" %>
  <%= render "other_skill" %>
  <%= render "favorite" %>
</div>

